<!DOCTYPE html>
<html>
<head>
    <title>Om os</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='themes.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        window.onload = function() {
            var theme = localStorage.getItem('theme');
            if (theme) {
                document.body.className = theme + '-theme';
            }
        };

        function copyToClipboard(text) {
            // Brug Clipboard API til at kopiere teksten
            navigator.clipboard.writeText(text).then(function() {
                alert("E-mail kopieret til udklipsholderen!");
            }).catch(function(error) {
                console.error("Kunne ikke kopiere e-mailen: ", error);
                alert("Kunne ikke kopiere e-mailen. Prøv igen.");
            });
        }
    </script>
</head>
<body class="container d-flex flex-column">
    <nav class="navbar fixed-top">
        <a class="navbar-brand" href="{{ url_for('index') }}">Øl tracker</a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{ url_for('friends') }}">Venner</a>
                <a class="dropdown-item" href="{{ url_for('map') }}">Kort</a>
                <a class="dropdown-item" href="{{ url_for('settings') }}">Indstillinger</a>
                <a class="dropdown-item" href="{{ url_for('leaderboard') }}">Leaderboard</a>
                <a class="dropdown-item" href="{{ url_for('which_beer') }}">Hvilken øl skal jeg drikke?</a>
                <a class="dropdown-item" href="{{ url_for('about') }}">Om os/Kontakt</a>
            </div>
        </div>
    </nav>
    <br>
    <div class="flex-grow-1">
        <h1 class="mt-5">Om os</h1>
        <p>Velkommen til Øl tracker!</p>
        <p>Vores mål med denne hjemmeside er at lave en sjov platform for dig og dine venner hvor i kan registrere hver gang i drikker en øl. Man kan sammenligne hvor mange man hver især har drukket, og hvornår man sidst har drukket en øl.</p>
        <p>Vi er dedikerede til at holde siden kørende og sørge for at der ingen fejl er!</p>
        <p>Bruger du appen på telefon og vil nemt kunne tilgå den? Tryk på del og derefter "Føj til hjemmeskærm" for at tilføje siden til din hjemmeskærm</p>
    </div>
    <div class="flex-grow-1">
        <h1 class="mt-5">Kontakt</h1>
        <p>
            Hvis du oplever nogle fejl ved siden kan du kontakte os på vores mail: 
            <span 
                style="cursor: pointer; color: blue; text-decoration: underline;" 
                onclick="copyToClipboard('ØlSpillet@gmail.com')">
                ØlSpillet@gmail.com
            </span>
        </p>
    </div>
    <div class="flex-grow-1">
        <h1 class="mt-5">Ansvar</h1>
        <p style="color: red;">OBS! Denne side er udelukkende til personer over 18 år.</p>
        <p>
            Vi påtager os intet ansvar for skader eller uheld der måtte opstå ved brug af denne hjemmeside. Vi opfordrer ikke til druk. Vi håber og ønsker at i bruger hjemmesiden ansvarligt og drikker med omtanke. Oplever du nogle problemer med alkohol, eller har du brug for hjælp, eller kender nogen som har brug for hjælp, kan du kontakte Alkolinjen her: 
            <a href="https://alkohologsamfund.dk/alkolinjen" target="_blank" style="color: blue; text-decoration: underline;">
                https://alkohologsamfund.dk/alkolinjen
            </a>
        </p>
        <a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">Tilbage</a>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>