{% extends "base.html" %}

{% block title %}
Om os
{% endblock %}

{% block content %}
<h1 class="mt-5">Om os</h1>
<p>Velkommen til Øl tracker!</p>
<p>Vores mål med denne hjemmeside er at lave en sjov platform for dig og dine venner, hvor I kan registrere hver gang I drikker en øl. Man kan sammenligne, hvor mange man hver især har drukket, og hvornår man sidst har drukket en øl.</p>
<p>Vi er dedikerede til at holde siden kørende og sørge for, at der ingen fejl er!</p>
<p>Bruger du appen på telefon og vil nemt kunne tilgå den? Tryk på del og derefter "Føj til hjemmeskærm" for at tilføje siden som et ikon på din hjemmeskærm.</p>

<h1 class="mt-5">Kontakt</h1>
<p>
    Hvis du oplever nogle fejl ved siden, kan du kontakte os på vores mail: 
    <span 
        style="cursor: pointer; color: blue; text-decoration: underline;" 
        onclick="copyToClipboard('ØlSpillet@gmail.com')">
        ØlSpillet@gmail.com
    </span>
</p>

<h1 class="mt-5">Ansvar</h1>
<p style="color: red;">OBS! Denne side er udelukkende til personer over 18 år.</p>
<p>
    Vi påtager os intet ansvar for skader eller uheld, der måtte opstå ved brug af denne hjemmeside. Vi opfordrer ikke til druk. Vi håber og ønsker, at I bruger hjemmesiden ansvarligt og drikker med omtanke. Oplever du nogle problemer med alkohol, eller har du brug for hjælp, eller kender nogen, som har brug for hjælp, kan du kontakte Alkolinjen her: 
    <a href="https://alkohologsamfund.dk/alkolinjen" target="_blank" style="color: blue; text-decoration: underline;">
        https://alkohologsamfund.dk/alkolinjen
    </a>
</p>
<a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">Tilbage</a>
{% endblock %}

{% block scripts %}
<script>
    window.onload = function() {
        var theme = localStorage.getItem('theme');
        if (theme) {
            document.body.className = theme + '-theme';
        }
    };

    function copyToClipboard(text) {
        // Brug Clipboard API til at kopiere teksten
        navigator.clipboard.writeText(text).then(function() {
            alert("E-mail kopieret til udklipsholderen!");
        }).catch(function(error) {
            console.error("Kunne ikke kopiere e-mailen: ", error);
            alert("Kunne ikke kopiere e-mailen. Prøv igen.");
        });
    }
</script>
{% endblock %}