<!DOCTYPE html>
<html>
<head>
    <title>Øl tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='themes.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .logout-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
        }
    </style>
    <script>
        function confirmDelete() {
            var result = confirm("Er du sikker på, at du vil slette din seneste øl?");
            if (result) {
                document.getElementById("deleteBeerForm").submit();
            }
        }

        function addBeer() {
            var audio = new Audio('/static/click-sound.mp3');
            audio.play();

            var locationAccess = localStorage.getItem('locationPermission');
            if (locationAccess === 'granted') {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        var form = document.getElementById('addBeerForm');
                        var latitudeInput = document.createElement('input');
                        latitudeInput.type = 'hidden';
                        latitudeInput.name = 'latitude';
                        latitudeInput.value = position.coords.latitude;
                        form.appendChild(latitudeInput);

                        var longitudeInput = document.createElement('input');
                        longitudeInput.type = 'hidden';
                        longitudeInput.name = 'longitude';
                        longitudeInput.value = position.coords.longitude;
                        form.appendChild(longitudeInput);

                        form.submit();
                    }, function(error) {
                        alert("Din lokalitet er ikke tilgængelig i øjeblikket");
                        document.getElementById('addBeerForm').submit();
                    });
                } else {
                    alert("Geolocation is not supported by this browser.");
                    document.getElementById('addBeerForm').submit();
                }
            } else {
                document.getElementById('addBeerForm').submit();
            }
        }

        function requestLocationPermission() {
            var result = confirm("Vil du give tilladelse til at bruge din lokalitet for at vise, hvor du drak øllene? Du kan altid ændre dette senere på indstillingssiden.");
            if (result) {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        localStorage.setItem('locationPermission', 'granted');
                    }, function(error) {
                        alert("Din lokalitet er ikke tilgængelig i øjeblikket.");
                        localStorage.setItem('locationPermission', 'denied');
                    });
                } else {
                    alert("Geolocation understøttes ikke af denne browser.");
                    localStorage.setItem('locationPermission', 'unsupported');
                }
            } else {
                alert("Du kan ændre denne indstilling senere på indstillingssiden.");
                localStorage.setItem('locationPermission', 'denied');
            }
        }

        window.onload = function() {
            var locationPermission = localStorage.getItem('locationPermission');
            if (!locationPermission) {
                requestLocationPermission();
            }

            var theme = localStorage.getItem('theme');
            if (!theme) {
                theme = 'dag';
                localStorage.setItem('theme', theme);
            }
            document.body.className = theme + '-theme';
        };
    </script>
</head>
<body class="container d-flex flex-column">
    <nav class="navbar fixed-top">
        <a class="navbar-brand" href="{{ url_for('index') }}">Øl tracker</a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{ url_for('friends') }}">Venner</a>
                <a class="dropdown-item" href="{{ url_for('map') }}">Kort</a>
                <a class="dropdown-item" href="{{ url_for('settings') }}">Indstillinger</a>
                <a class="dropdown-item" href="{{ url_for('leaderboard') }}">Leaderboard</a>
                <a class="dropdown-item" href="{{ url_for('which_beer') }}">Hvilken øl skal jeg drikke?</a>
                <a class="dropdown-item" href="{{ url_for('about') }}">Om os/Kontakt</a>
            </div>
        </div>
    </nav>
    <div class="flex-grow-1 beer-background">
        <h1 class="mt-5 beer-title">Velkommen, {{ username }}</h1>
        <p class="beer-text">Antal øl drukket: {{ total_beers }}</p>
        {% if last_beer_time %}
            <p class="beer-text">Sidste øl drukket: {{ last_beer_time }}</p>
        {% endif %}
        <p class="beer-text">Antal øl drukket i alt siden serveren blev oprettet: {{ total_beers_ever }}</p>
        <form id="addBeerForm" action="{{ url_for('add_beer') }}" method="post" class="mb-3">
            <button type="button" class="btn btn-success" onclick="addBeer()">Registrer øl</button>
        </form>
        <form id="deleteBeerForm" action="{{ url_for('delete_beer') }}" method="post" class="d-inline">
            <button type="button" class="btn btn-danger" onclick="confirmDelete()">Slet øl</button>
        </form>
        {% if is_admin %}
            <a href="{{ url_for('admin') }}" class="btn btn-secondary mt-3">Admin side</a>
        {% endif %}
    </div>
    <a href="{{ url_for('logout') }}" class="btn btn-secondary logout-button">Log ud</a>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>