{% extends "base.html" %}

{% block title %}Kort{% endblock %}

{% block content %}
<h1 class="mt-5">Kort</h1>
<div id="map" class="mb-3"></div>
<div class="d-flex align-items-center">
    <span id="viewText" class="mr-3">Kortet viser kun mine pile</span>
    <button id="toggleViewButton" class="btn btn-primary">Tryk for kun at vise venners pile</button>
</div>
<br>

<!-- Hidden JSON data -->
<script id="userLogs" type="application/json">{{ user_logs|tojson }}</script>
<script id="friendsLogs" type="application/json">{{ friends_logs|tojson }}</script>
<script id="allLogs" type="application/json">{{ all_logs|tojson }}</script>
{% endblock %}

{% block scripts %}
<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='themes.css') }}">
{% endblock %}