{% extends "base.html" %}

{% block title %}Kort{% endblock %}

{% block content %}
<h1 class="mt-5">Kort</h1>
<div id="map" class="mb-3" style="height: 50vh; width: 100%;"></div>
<a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">Tilbage</a>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    function initMap() {
        var defaultLocation = [56.2639, 9.5018];
        var map = L.map('map').setView(defaultLocation, 6);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var beerLogs = {{ beer_logs|tojson }};
        var bounds = [];

        if (beerLogs.length > 0) {
            var groupedLogs = {};
            beerLogs.forEach(function(log) {
                var key = log.latitude + ',' + log.longitude;
                if (!groupedLogs[key]) {
                    groupedLogs[key] = { count: 0, latitude: log.latitude, longitude: log.longitude };
                }
                groupedLogs[key].count += log.count;
            });

            Object.values(groupedLogs).forEach(function(group) {
                L.marker([group.latitude, group.longitude])
                    .addTo(map)
                    .bindPopup("Antal øl drukket her: " + group.count);
                bounds.push([group.latitude, group.longitude]);
            });

            if (bounds.length > 0) {
                map.fitBounds(bounds);
            }
        }
    }

    window.onload = function() {
        initMap();
        var theme = localStorage.getItem('theme');
        if (theme) {
            document.body.className = theme + '-theme';
        }
    };
</script>
{% endblock %}