{% extends "base.html" %}

{% block title %}
Hvilken øl skal jeg drikke?
{% endblock %}

{% block content %}
<h1 class="mt-5">Hvilken øl skal jeg drikke?</h1>
<p>Indtast de øl du har derhjemme eller de øl du har overvejet at købe, og lad hjulet vælge for dig</p>
<div class="form-group">
    <form id="beerForm">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="text" id="beerName" class="form-control" placeholder="Tilføj en øl">
        <button type="submit" class="btn btn-primary mt-2">Tilføj</button>
    </form>
</div>
<div id="wheel-container" class="d-flex justify-content-center align-items-center" style="max-width: 300px; max-height: 300px; margin: 0 auto;">
    <div id="wheel-pointer"></div> <!-- Pil til at indikere valg -->
    <svg id="wheel" viewBox="0 0 300 300" style="width: 100%; height: auto; max-width: 300px; max-height: 300px; border: 1px solid #ccc; border-radius: 50%;"></svg>
</div>
<button class="btn btn-success mt-3" id="spinWheelButton">Spin Hjulet</button><br>
{% endblock %}